/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





















/* DEBUT CSS */
a:link,a:visited{
  color: #3C96F1;
  text-decoration: none;
}

body{
  background-color: #20190F;
  font-size: 14px;
  font-family: Verdana, Geneva, Sans-Serif;
  color: #E8DBB1;
}

main{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 800px;
  height: 800px;
  background-image: url("../images/fond.jpg");
}


/*BLOC EN-TETE*/

#head{
  height: 270px;
  background-image: url("../images/entete.jpg");
  background-repeat: no-repeat;
}

#deco{
  position: absolute;
  margin-left: 720px;
  margin-top: 15px;
}
#deco:hover{
  content: url("../images/deconnexion_over.png");
}

#home{
  position: absolute;
  margin-left: 543px;
  margin-top: 84px;
}
#home:hover{
  content: url("../images/home_over.png");
}

#search{
  position: absolute;
  margin-left: 600px;
  margin-top: 84px;
}
#search:hover{
  content: url("../images/cherche_over.png");
}

#config{
  position: absolute;
  margin-left: 653px;
  margin-top: 84px;
}
#config:hover{
  content: url("../images/config_over.png");
}

#saisie{
  position: absolute;
  margin-left: 270px;
  margin-top: 110px;
}

#text{
  width: 468px;
  height: 55px;
  position: absolute;
  margin-top: 135px;
  margin-left: 314px;
  background-color: white;
  border-color: #b4b3b3;
  color: #7A370D	;
  resize: none;
}

#hp{
  position: absolute;
  margin-left: 720px;
  margin-top: 200px;
}
#hp:hover{
  content: url("../images/haut_parleur_over.png");
}



/* BLOC INFORMATION UTILISATEUR : */

#info{
  height: 450px;
  width: 250px;
  float: left;
  color: 	#EFE7DE;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: url("../images/micro.jpg");
  background-repeat: no-repeat;
}


#info>h1{
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}

.imgUser{
  vertical-align: middle;
}




/*BLOC LISTE DE MESSAGE*/

#message{
  height: 470px;
  width: 550px;
  float: right;
}

.mess{
  width: 525px;
  margin-left: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: url(../images/fond_blabla.png);
  padding-top: 5px;
  padding-bottom: 5px;
}

.imgMess{
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -25px;
}

.textMess{
  padding-left: 20px;
}

.pseudo{
  font-weight: bold;
}

.finG{
  margin-left: 35px;
  margin-top: 10px;
  font-size: 12px;
}

.finD{
  float: right;
  margin-right: 20px;
}

.finD>a:link,.finD>a:visited{
  color: rgb(60, 150, 241,0.6);
  text-decoration: none;
}
.finD>a:hover{
  color: rgb(60, 150, 241,1);
}

#imgFin{
  margin-bottom: -30px;
}
#fin{
  margin-top: -10px;
  font-weight: bold;
  float: right;
}

/*BLOC PIED DE PAGE*/

#foot{
  height: 20px;
  clear: both;
}
.lBas{
  font-size: 12px;
  display: inline;
  margin-right: 20px;
}

#list{
  margin-left: 150px;
  margin-top: -60px;
}